# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environments
.env
venv/
.venv/

# OS
.DS_Store

# Data
data/
*.csv

# PyTorch checkpoints
*.pt

# prepared data
prepared_data
#images
images/
*.png
